:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding:0;
}

body,
html {
  height: 100%;
}

canvas {
  position: fixed;
  height: 80%;
  width: 100%;
  outline: none;

  background: rgb(16, 59, 160);
  background: linear-gradient(
    0deg,
    rgb(8, 163, 166) 0%,
    rgba(167, 166, 79, 0.849) 8%,
    rgba(61, 79, 94, 0.885) 40%,
    rgb(0, 0, 0)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
